include LICENSE
include README.md
include pyproject.toml
include Makefile
include Makefile_machine
include Makefile_settings
recursive-include source *.c
recursive-include main *.c
recursive-include include *.h
recursive-include general_libs *.c *.h
recursive-include getparam *.c *.h
recursive-include scripts *.py *.sh
recursive-include python *.pyx
include python/ccyballs.pxd.in
recursive-include tests/python *.py *.md *.txt
include examples/download_desi_lya_example.sh
recursive-include examples *.py *.ipynb
recursive-include docs *.rst *.py Makefile
include docs/requirements.txt
recursive-include docs/man cballs.1 cballs.m cballs.html *.sh
prune docs/_build
recursive-include tests/make_tests README.md run_test* *.py
recursive-include tests/fixtures *
recursive-include tests/In *
recursive-include tests *.c

prune addons

include addons/Makefile_addons
include addons/Makefile_addons_settings
include addons/Makefile_gsl
recursive-include addons/addons_include *.h
recursive-include addons/kdtree_2balls_omp *.c *.h *.md Makefile*
recursive-include addons/kdtree_2balls_mpi *.c *.h *.md Makefile*
recursive-include addons/kdtree_shared *.c *.h Makefile*
recursive-include addons/balltree_shared *.c *.h Makefile*
recursive-include addons/shear_sphere_shared *.c *.h
recursive-include addons/scalar_compat_shared *.c *.h
recursive-include addons/balltree_2balls_omp *.c *.h *.md Makefile*
include addons/balltree_2balls_omp/DUAL_NODE_LICENSE
recursive-include addons/balltree_2balls_mpi *.c *.h *.md Makefile*
recursive-include addons/octree_2balls_omp *.c *.h *.md Makefile*
recursive-include addons/octree_2balls_mpi *.c *.h *.md Makefile*
recursive-include addons/native_octree_pair *.c *.h Makefile*
recursive-include addons/kdtree_box_omp *.c *.h Makefile*
recursive-include addons/neighbor_boxes_omp *.c *.h Makefile*
recursive-include addons/lya_forest_omp *.c *.h *.py *.md Makefile*
recursive-include addons/lya_forest_mpi *.c *.h *.md *.ini *.txt Makefile*
recursive-include addons/octree_shear_sphere_2balls_omp *.c *.h *.md Makefile*
include addons/octree_shear_sphere_2balls_omp/DUAL_NODE_LICENSE
recursive-include addons/kdtree_shear_sphere_2balls_omp *.c *.h *.md Makefile*
include addons/kdtree_shear_sphere_2balls_omp/DUAL_NODE_LICENSE
recursive-include addons/balltree_shear_sphere_2balls_omp *.c *.h *.md Makefile*
include addons/balltree_shear_sphere_2balls_omp/DUAL_NODE_LICENSE
recursive-include addons/shear_sphere_binary_2balls *.h
recursive-include addons/octree_3pcf_3d_omp *.c *.h *.md Makefile*
recursive-include addons/octree_3pcf_3d_mpi *.c *.h *.md *.ini *.txt Makefile*
recursive-include addons/gadget_io *.c *.h Makefile*
recursive-include addons/class_lib *.c *.h Makefile*
recursive-include addons/iolib *.h Makefile*
recursive-include addons/cfitsio *.c *.h Makefile*
recursive-include addons/pxd *.h Makefile*
recursive-include addons/cmdline_defs_settings *.h Makefile*

global-exclude .DS_Store
global-exclude *.Po *.Plo

global-exclude *.o *.a *.so *.dylib
global-exclude __pycache__/*
global-exclude *.pyc
